<h2>Virtual experience</h2>

<div id="virtual_experience">
	<div id="ride_output">
	</div>
</div>

<script id="ride_template" type="x-template">
	<h3>{{ user.trainsettings.name }}</h3>

	<a-scene>
		<a-assets>
			<!-- walls -->
			<a-mixin id="wall-lg" obj-model="obj: url(assets/model-buildkit/walls/wall_default_8x4.obj);"></a-mixin>
			<a-mixin id="wall-md" obj-model="obj: url(assets/model-buildkit/walls/wall_default_4x4.obj);"></a-mixin>
			<a-mixin id="wall-sm" obj-model="obj: url(assets/model-buildkit/walls/wall_default_2x4.obj);"></a-mixin>

			<!-- corners -->
			<a-mixin id="corner-sm" obj-model="obj: url(assets/model-buildkit/walls/corner_default_1x1-1.obj);"></a-mixin>

			<!-- door -->
			<a-mixin id="door" obj-model="obj: url(assets/model-buildkit/walls/wall_door-frame.obj);"></a-mixin>

			<a-mixin id="castle-wall" material="src:#castle"></a-mixin>
	  	<a-mixin id="forest-wall" obj-model="src="assets/textures/forest/walls.jpg"></a-mixin>
			<a-mixin id="floor" obj-model="src="assets/assets/model-buildkit/floors/floor-default-4x4.mtl"></a-mixin>

			<a-asset-item
				v-for="monster in configurable.monsters"
				id="monster_{{ $key }}_model"
				src="{{ monster.model }}"
			></a-asset-item>
			<img
				v-for="monster in configurable.monsters"
				id="monster_{{ $key }}_texture"
				src="{{ monster.texture }}"
			></img>
			<img id="castle" src="assets/textures/castle/walls.jpg"></img>
			<img id="forest" src="assets/textures/forest/walls.jpg"></img>
			<img id="floor" src="assets/model-buildkit/floors/floor-default-4x4.mtl"></img>
		</a-assets>

		<a-entity position="16 4 15" kart="">
			<a-camera collider>
				<a-entity
					v-if="$root.system.sound.chain"
					sound="src: assets/sounds/chain.mp3; autoplay: true; loop: true; volume: 0.4;"
				></a-entity>
			</a-camera>
		</a-entity>

		<a-entity track="" position="16 4 0" order="0" duration="7">
			<a-sphere  position="0 -3.75 0" radius="0.25" width="1" height="1" depth="1" color="#ffffff"></a-box>
		</a-entity>
		<a-entity track="" position="24 4 -10" order="1" duration="5">
			<a-sphere  position="0 -3.75 0" radius="0.25" width="1" height="1" depth="1" color="#ffffff"></a-box>
		</a-entity>
		<a-entity track="" position="8 4 -10" order="1" duration="8">
			<a-sphere  position="0 -3.75 0" radius="0.25" width="1" height="1" depth="1" color="#ffffff"></a-box>
		</a-entity>
		

		<a-sky color="{{system.sky.colour}}"></a-sky>

		<gt-room
			v-for="room in user.rooms"
			v-bind:index="$index"
			v-bind:room="room"
		></gt-room>

		<a-entity>
		<!--<a-box position="0 2 0" color="green"></a-box>-->




	</a-entity>
	</a-scene>
</script>

<script id="room_template" type="x-template">




	 <a-entity
		id="room_{{ index }}"
		position="0 0 0"
		rotation: "0 90 0"
	>
		<gt-light
			v-bind:type="room.light"
			v-bind:lightcolor="room.lightcolor">
		</gt-light>

		<!--<a-entity light="color: blue; intensity: 3; type: point; distance: 50; decay: 2" position="18 4 2"></a-entity>
		<a-entity light="color: green; intensity: 3; type: point; distance: 50; decay: 2" position="18 4 -8"></a-entity>-->

		<a-entity id="floor">
			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl);" position="8 0 2" metalness="0">
			</a-entity>

			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)" position="16 0 2" metalness="0">
			</a-entity>

			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="24 0 2" metalness="0">
			</a-entity>
			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="32 0 2" metalness="0">
			</a-entity>
			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="40 0 2" metalness="0">
			</a-entity>


			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="8 0 -6" metalness="0">
			</a-entity>

			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="16 0 -6" metalness="0">
			</a-entity>

			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="24 0 -6" metalness="0">
			</a-entity>
			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="32 0 -6" metalness="0">
			</a-entity>
			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="40 0 -6" metalness="0">
			</a-entity>


			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="8 0 -14" metalness="0">
			</a-entity>

			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="16 0 -14" metalness="0">
			</a-entity>

			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="24 0 -14" metalness="0">
			</a-entity>
			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="32 0 -14" metalness="0">
			</a-entity>
			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="40 0 -14" metalness="0">
			</a-entity>
		</a-entity>

		<a-entity id="ceiling" position="36 8 0" rotation="0 0 180">
			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)" position="8 0 2">
			</a-entity>

			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)" position="16 0 2">
			</a-entity>

			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="24 0 2">
			</a-entity>
			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="32 0 2">
			</a-entity>
			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="40 0 2">
			</a-entity>


			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="8 0 -6">
			</a-entity>

			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="16 0 -6">
			</a-entity>

			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="24 0 -6">
			</a-entity>
			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="32 0 -6">
			</a-entity>
			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="40 0 -6">
			</a-entity>


			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="8 0 -14">
			</a-entity>

			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="16 0 -14">
			</a-entity>

			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="24 0 -14">
			</a-entity>
			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="32 0 -14">
			</a-entity>
			<a-entity obj-model="obj: url(assets/model-buildkit/floors/floor-default-4x4.obj); mtl: url(assets/model-buildkit/floors/floor-default-4x4.mtl)"
				position="40 0 -14">
			</a-entity>
		</a-entity>

		<a-entity id="inner-wall-1">
			<a-entity mixin="wall-lg castle-wall"
				position="16 0 -6"
			 	rotation="0 90 0"
			 	>
			</a-entity>

		</a-entity>

		<a-entity id="west-wall">
			<a-entity mixin="wall-lg castle-wall"
				position="0 0 0"
			>
			</a-entity>

			<a-entity mixin="corner-sm castle-wall"
				position="0 0 -16"
				material="src:#castle">
			</a-entity>

			<a-entity mixin="corner-sm castle-wall"
				position="2 0 2"
				rotation="0 90 0"
				material="src:#castle">
			</a-entity>
		</a-entity>

		<a-entity id="south-wall">
			<a-entity mixin="wall-md castle-wall"
				position="6 0 -18"
			 	rotation="0 90 0">
			</a-entity>

			<a-entity mixin="door castle-wall"
				position="24 0 -18"
			 	rotation="0 90 0">
			</a-entity>

			<a-entity mixin="wall-md castle-wall"
				position="28 0 -18"
			 	rotation="0 90 0">
			</a-entity>
		</a-entity>

		<a-entity id="east-wall" rotation="0 0 0" position="34 0 0">
			<a-entity mixin="wall-lg castle-wall"
				position="0 0 0">
			</a-entity>

			<a-entity mixin="corner-sm castle-wall"
				position="-2 0 -18"
				rotation="0 -90 0">
			</a-entity>

			<a-entity mixin="corner-sm castle-wall"
				position="0 0 0"
				rotation="0 -180 0">
			</a-entity>
		</a-entity>

		<a-entity id="north-wall" position="0 0 2" rotation="0 0 0">
			<a-entity mixin="wall-md castle-wall"
				position="6 0 0"
			 	rotation="0 270 0">
			</a-entity>

			<a-entity mixin="door castle-wall"
				position="10 0 0"
			 	rotation="0 270 0"
			 	material="src:#castle">
			</a-entity>

			<a-entity mixin="wall-md castle-wall"
				position="28 0 0"
			 	rotation="0 270 0">
			</a-entity>
		</a-entity>

		<gt-scare
			v-for="scare in room.scares"
			v-bind:index="$index"
			v-bind:monster="scare.monster"
			v-bind:sound="scare.sound"
			v-bind:animation="scare.animation"
			v-bind:pos="scare.position"
		></gt-scare>

		<!--

		<a-entity
		 obj-model="obj: url(assets/theme-room-floor.obj);"
			material="src:#floor-texture"
		>

		<a-entity
		 obj-model="obj: url(assets/theme-room-walls.obj);"
		 material="src: #{{ room.theme }}"
		 side="double">
		 </a-entity>-->



	</a-entity>
</script>


<script id="scare_template" type="x-template">
	<a-entity
		v-if="monster !== 'none'"
		id="monster_{{ $parent.room.number }}_{{ animation }}" position="{{ pos }}"
	>
		<a-obj-model
			rotation="0 0 0"
			scale="0.9 0.9 0.9"
			src="#monster_{{ monster }}_model"
			material="src: #monster_{{ monster }}_texture; shader: standard;"
			collidable
			visible="false"
			sound="src: {{ $root.configurable.sounds[sound].mp3 }}; on:hit;"
			>
			<gt-animation v-bind:type="animation"></gt-animation>
		</a-obj-model>


	</a-entity>


</script>

<script id="animation_template" type="x-template">
	<a-animation
		v-if="type === 'popup'"
		begin="hit"
		attribute="rotation"
		from="-90 0 0"
		to="0 0 0"
		dur="{{ $root.system.animation.duration }}"
		fill="both"
		easing="ease-out-bounce"
		repeat="{{ $root.system.animation.repeat }}"
	></a-animation>
	<a-animation
		v-if="type === 'popup'"
		begin="hit"
		attribute="position"
		from="0 {{ $root.system.monster.height * -1 }} 0"
		to="0 0 0"
		dur="{{ $root.system.animation.duration }}"
		fill="both"
		easing="ease-out-bounce"
		repeat="{{ $root.system.animation.repeat }}"
	></a-animation>

	<a-animation
		v-if="type === 'dropdown'"
		begin="hit"
		attribute="position"
		from="0 5 0"
		to="0 0 0"
		dur="{{ $root.system.animation.duration }}"
		fill="both"
		easing="ease-out-bounce"
		repeat="{{ $root.system.animation.repeat }}"
	></a-animation>
	<a-animation
		v-if="type === 'dropdown'"
		begin="hit"
		attribute="rotation"
		from="0 0 30"
		to="0 0 0"
		dur="{{ $root.system.animation.duration }}"
		fill="both"
		easing="ease-out-bounce"
		repeat="{{ $root.system.animation.repeat }}"
	></a-animation>

	<a-animation
		v-if="type === 'fromleft'"
		begin="hit"
		attribute="rotation"
		from="0 90 0"
		to="0 0 0"
		dur="{{ $root.system.animation.duration }}"
		fill="both"
		easing="ease-out-bounce"
		repeat="{{ $root.system.animation.repeat }}"
	></a-animation>
	<a-animation
		v-if="type === 'fromleft'"
		begin="hit"
		attribute="position"
		from="{{ $root.system.monster.width * -8 }} 0 0"
		to="0 0 0"
		dur="{{ $root.system.animation.duration }}"
		fill="both"
		easing="ease-out-bounce"
		repeat="{{ $root.system.animation.repeat }}"
	></a-animation>

	<a-animation
		v-if="type === 'fromright'"
		attribute="rotation"
		begin="hit"
		from="0 -90 0"
		to="0 0 0"
		dur="{{ $root.system.animation.duration }}"
		fill="both"
		easing="ease-out-bounce"
		repeat="{{ $root.system.animation.repeat }}"
	></a-animation>
	<a-animation
		v-if="type === 'fromright'"
		attribute="position"
		begin="hit"
		from="{{ $root.system.monster.width * 1 }} 0 0"
		to="0 0 0"
		dur="{{ $root.system.animation.duration }}"
		fill="both"
		easing="ease-out-bounce"
		repeat="{{ $root.system.animation.repeat }}"
	></a-animation>

	<a-animation
		v-if="type === 'slideleft'"
		begin="hit"
		attribute="position"
		from="0 0 0"
		to="3 0 0"
		dur="{{ $root.system.animation.duration }}"
		fill="both"
		easing="ease-out-bounce"
		repeat="{{ $root.system.animation.repeat }}"
	></a-animation>


</script>

<script id="light_template" type="x-template">
	<a-light
		v-if="type !== 'dark'"
		type="point"
		intensity="5"
		distance="25"
		decay="2"
		position="18 4 -2"
		color="{{ lightcolor }}"
	>
		<a-animation
			v-if="type === 'flickering'"
			attribute="intensity"
			dur="1300"
			fill="forwards"
			from="1"
			to="0"
			direction="alternate"
			repeat="indefinite"></a-animation>
		<a-animation
			v-if="type === 'glowing'"
			attribute="intensity"
			dur="1000"
			fill="forwards"
			from="1"
			to="0"
			direction="alternate"
			easing="ease"
			repeat="indefinite"></a-animation>
	</a-light>
</script>
