<script id="doors-partial" type="x-partial">

	<gt-door theme="intro" position="12 0 0" frame="S" door="NS" triggerable="true" size="8" current="room_0" next="room_1"></gt-door>

	<gt-door theme="{{ $root.user.rooms[1].theme }}" position="24 0 18" frame="S" door="NS" triggerable="true" size="8" current="room_1" next="room_2"></gt-door>

	<gt-door theme="{{ $root.user.rooms[2].theme }}" position="44 0 6" frame="S" door="NS" triggerable="true" size="8" current="room_2" next="room_3"></gt-door>

	<gt-door theme="{{ $root.user.rooms[3].theme }}" position="48 0 30" frame="S" door="NS" triggerable="true" size="8" current="room_3" next="room_4"></gt-door>

	<!-- <gt-door theme="{{ $root.user.rooms[4].theme }}" position="24 0 18" frame="S" door="NS" triggerable="true" size="8" current="room_4" next="room_5"></gt-door> -->

</script>

