<script id="room0-partial" type="x-partial">

<!-- starter room -->
        <a-entity position="0 0 0">
          <!-- walls -->
          <a-entity mixin="wall-E intro" position="0 0 0"></a-entity>
          <a-entity mixin="wall-E intro" position="4 0 0"></a-entity>
          <a-entity mixin="wall-E intro" position="8 0 0"></a-entity>

          <a-entity mixin="door-frame-8-N intro" position="0 0 0"></a-entity>

          <a-entity position="0 0 2.5">
            <a-entity mixin="door-left-NS intro" position="0 0 0"></a-entity>
            <a-entity mixin="door-right-NS intro" position="0 0 3"></a-entity>
          </a-entity>

          <a-entity mixin="wall-W intro" position="0 0 8"></a-entity>
          <a-entity mixin="wall-W intro" position="4 0 8"></a-entity>
          <a-entity mixin="wall-W intro" position="8 0 8"></a-entity>

          <a-entity mixin="door-frame-8-S intro" position="12 0 0"></a-entity>

          <a-entity position="12 0 2.5">
            <a-entity mixin="door-left-NS intro" position="0 0 0"></a-entity>
            <a-entity mixin="door-right-NS intro" position="0 0 3"></a-entity>
          </a-entity>

          <!-- floor -->
          <a-entity mixin="floor intro" position="0 0 0"></a-entity>
          <a-entity mixin="floor intro" position="4 0 0"></a-entity>
          <a-entity mixin="floor intro" position="4 0 4"></a-entity>
          <a-entity mixin="floor intro" position="0 0 4"></a-entity>
          <a-entity mixin="floor intro" position="8 0 0"></a-entity>
          <a-entity mixin="floor intro" position="8 0 4"></a-entity>

          <!-- ceiling -->
          <a-entity mixin="ceiling intro" position="0 0 0"></a-entity>
          <a-entity mixin="ceiling intro" position="4 0 0"></a-entity>
          <a-entity mixin="ceiling intro" position="4 0 4"></a-entity>
          <a-entity mixin="ceiling intro" position="0 0 4"></a-entity>
          <a-entity mixin="ceiling intro" position="8 0 0"></a-entity>
          <a-entity mixin="ceiling intro" position="8 0 4"></a-entity>

        </a-entity>
        <!-- starter room  end-->

</script>