<script id="room5-partial" type="x-partial">

  <a-entity position="54 0 58" rotation="0 -90 0">
      <!-- walls -->
      <a-entity mixin="wall-E" position="0 0 0"></a-entity>
      <a-entity mixin="wall-E" position="4 0 0"></a-entity>
      <a-entity mixin="wall-E" position="8 0 0"></a-entity>

      <a-entity mixin="door-frame-8-N" position="0 0 0"></a-entity>

      <a-entity position="0 0 2.5">
        <a-entity mixin="door-left-NS" position="0 0 0"></a-entity>
        <a-entity mixin="door-right-NS" position="0 0 3"></a-entity>
      </a-entity>

      <a-entity mixin="wall-W" position="0 0 8"></a-entity>
      <a-entity mixin="wall-W" position="4 0 8"></a-entity>
      <a-entity mixin="wall-W" position="8 0 8"></a-entity>

      <a-entity mixin="door-frame-8-S" position="12 0 0"></a-entity>

      <a-entity position="12 0 2.5">
        <a-entity mixin="door-left-NS" position="0 0 0"></a-entity>
        <a-entity mixin="door-right-NS" position="0 0 3"></a-entity>
      </a-entity>

      <!-- floor
      <a-entity mixin="floor" position="0 0 0"></a-entity>
      <a-entity mixin="floor" position="4 0 0"></a-entity>
      <a-entity mixin="floor" position="4 0 4"></a-entity>
      <a-entity mixin="floor" position="0 0 4"></a-entity>
      <a-entity mixin="floor" position="8 0 0"></a-entity>
      <a-entity mixin="floor" position="8 0 4"></a-entity>
-->


      <!-- ceiling -->
      <a-entity mixin="ceiling" position="0 0 0"></a-entity>
      <a-entity mixin="ceiling" position="4 0 0"></a-entity>
      <a-entity mixin="ceiling" position="4 0 4"></a-entity>
      <a-entity mixin="ceiling" position="0 0 4"></a-entity>
      <a-entity mixin="ceiling" position="8 0 0"></a-entity>
      <a-entity mixin="ceiling" position="8 0 4"></a-entity>

  </a-entity>
</script>
