
<script id="room3-partial" type="x-partial">
     <a-entity position="44 0 10" rotation="0 90 0">
      <a-entity mixin="door-frame-4-E {{ theme }}" position="0 0 0"></a-entity>
      <a-entity mixin="door-frame-4-W {{ theme }}" position="0 0 28"></a-entity>




      <!-- walls -->
      <a-entity mixin="wall-detail-N {{ theme }}" position="0 0 0"></a-entity>
      <a-entity mixin="wall-u-N {{ theme }}" position="0 0 4"></a-entity>
      <a-entity mixin="wall-N {{ theme }}" position="0 0 8"></a-entity>
      <a-entity mixin="wall-u-N {{ theme }}" position="0 0 12"></a-entity>
      <a-entity mixin="wall-detail-N {{ theme }}" position="0 0 16"></a-entity>
      <a-entity mixin="wall-u-N {{ theme }}" position="0 0 20"></a-entity>
      <a-entity mixin="wall-N {{ theme }}" position="0 0 24"></a-entity>

      <a-entity mixin="wall-S {{ theme }}" position="4 0 0"></a-entity>
      <a-entity mixin="wall-u-S {{ theme }}" position="4 0 4"></a-entity>
      <a-entity mixin="wall-detail-S {{ theme }}" position="4 0 8"></a-entity>
      <a-entity mixin="wall-u-S {{ theme }}" position="4 0 12"></a-entity>
      <a-entity mixin="wall-S {{ theme }}" position="4 0 16"></a-entity>
      <a-entity mixin="wall-u-S {{ theme }}" position="4 0 20"></a-entity>
      <a-entity mixin="wall-detail-S {{ theme }}" position="4 0 24"></a-entity>




      <!-- floor-->
      <a-entity mixin="floor-set-room-4 {{ theme }}" position="0 0 0"></a-entity>

      <!-- ceiling -->
      <a-entity mixin="ceiling-set-room-4 {{ theme }}" position="0 0 0"></a-entity>


    </a-entity>
</script>
