
<script id="room4-partial" type="x-partial">
     <a-entity position="0 0 0">
      <a-entity mixin="door-frame-4-E" position="48 0 30"></a-entity>
      <a-entity mixin="door-frame-4-W" position="48 0 58"></a-entity>




      <!-- walls -->
      <a-entity mixin="wall-N" position="48 0 30"></a-entity>
      <a-entity mixin="wall-u-N" position="48 0 34"></a-entity>
      <a-entity mixin="wall-N" position="48 0 38"></a-entity>
      <a-entity mixin="wall-u-N" position="48 0 42"></a-entity>
      <a-entity mixin="wall-N" position="48 0 46"></a-entity>
      <a-entity mixin="wall-u-N" position="48 0 50"></a-entity>
      <a-entity mixin="wall-N" position="48 0 54"></a-entity>

      <a-entity mixin="wall-S" position="52 0 30"></a-entity>
      <a-entity mixin="wall-u-S" position="52 0 34"></a-entity>
      <a-entity mixin="wall-S" position="52 0 38"></a-entity>
      <a-entity mixin="wall-u-S" position="52 0 42"></a-entity>
      <a-entity mixin="wall-S" position="52 0 46"></a-entity>
      <a-entity mixin="wall-w-S" position="52 0 50"></a-entity>
      <a-entity mixin="wall-S" position="52 0 54"></a-entity>




      <!-- floor -->

      <a-entity mixin="floor" position="48 0 30"></a-entity>
      <a-entity mixin="floor" position="48 0 34"></a-entity>
      <a-entity mixin="floor" position="48 0 38"></a-entity>
      <a-entity mixin="floor" position="48 0 42"></a-entity>
      <a-entity mixin="floor" position="48 0 46"></a-entity>
      <a-entity mixin="floor" position="48 0 50"></a-entity>
      <a-entity mixin="floor" position="48 0 54"></a-entity>

      <!-- ceiling -->

      <a-entity mixin="ceiling" position="48 0 30"></a-entity>
      <a-entity mixin="ceiling" position="48 0 34"></a-entity>
      <a-entity mixin="ceiling" position="48 0 38"></a-entity>
      <a-entity mixin="ceiling" position="48 0 42"></a-entity>
      <a-entity mixin="ceiling" position="48 0 46"></a-entity>
      <a-entity mixin="ceiling" position="48 0 50"></a-entity>
      <a-entity mixin="ceiling" position="48 0 54"></a-entity>

    </a-entity>