
<script id="room4-partial" type="x-partial">
     <a-entity position="0 0 0">
      <a-entity mixin="door-frame-4-E {{ theme }}" position="48 0 30"></a-entity>
      <a-entity mixin="door-frame-4-W {{ theme }}" position="48 0 58"></a-entity>




      <!-- walls -->
      <a-entity mixin="wall-detail-N {{ theme }}" position="48 0 30"></a-entity>
      <a-entity mixin="wall-u-N {{ theme }}" position="48 0 34"></a-entity>
      <a-entity mixin="wall-N {{ theme }}" position="48 0 38"></a-entity>
      <a-entity mixin="wall-u-N {{ theme }}" position="48 0 42"></a-entity>
      <a-entity mixin="wall-detail-N {{ theme }}" position="48 0 46"></a-entity>
      <a-entity mixin="wall-u-N {{ theme }}" position="48 0 50"></a-entity>
      <a-entity mixin="wall-N {{ theme }}" position="48 0 54"></a-entity>

      <a-entity mixin="wall-S {{ theme }}" position="52 0 30"></a-entity>
      <a-entity mixin="wall-u-S {{ theme }}" position="52 0 34"></a-entity>
      <a-entity mixin="wall-detail-S {{ theme }}" position="52 0 38"></a-entity>
      <a-entity mixin="wall-u-S {{ theme }}" position="52 0 42"></a-entity>
      <a-entity mixin="wall-S {{ theme }}" position="52 0 46"></a-entity>
      <a-entity mixin="wall-u-S {{ theme }}" position="52 0 50"></a-entity>
      <a-entity mixin="wall-detail-S {{ theme }}" position="52 0 54"></a-entity>




      <!-- floor -->

      <a-entity mixin="floor {{ theme }}" position="48 0 30"></a-entity>
      <a-entity mixin="floor {{ theme }}" position="48 0 34"></a-entity>
      <a-entity mixin="floor {{ theme }}" position="48 0 38"></a-entity>
      <a-entity mixin="floor {{ theme }}" position="48 0 42"></a-entity>
      <a-entity mixin="floor {{ theme }}" position="48 0 46"></a-entity>
      <a-entity mixin="floor {{ theme }}" position="48 0 50"></a-entity>
      <a-entity mixin="floor {{ theme }}" position="48 0 54"></a-entity>

      <!-- ceiling -->

      <a-entity mixin="ceiling {{ theme }}" position="48 0 30"></a-entity>
      <a-entity mixin="ceiling {{ theme }}" position="48 0 34"></a-entity>
      <a-entity mixin="ceiling {{ theme }}" position="48 0 38"></a-entity>
      <a-entity mixin="ceiling {{ theme }}" position="48 0 42"></a-entity>
      <a-entity mixin="ceiling {{ theme }}" position="48 0 46"></a-entity>
      <a-entity mixin="ceiling {{ theme }}" position="48 0 50"></a-entity>
      <a-entity mixin="ceiling {{ theme }}" position="48 0 54"></a-entity>

    </a-entity>