<script id="room1-partial" type="x-partial">
	<a-entity position="0 0 0">

          <!-- walls -->
          <a-entity mixin="wall-E {{ theme }}" position="12 0 2"></a-entity>
          <a-entity mixin="wall-E {{ theme }}" position="16 0 2"></a-entity>
          <a-entity mixin="wall-E {{ theme }}" position="20 0 2"></a-entity>

          <a-entity mixin="corner-inner-SE {{ theme }}" position="24 0 2"></a-entity>

          <a-entity mixin="wall-S {{ theme }}" position="28 0 6"></a-entity>
          <a-entity mixin="wall-u-S {{ theme }}" position="28 0 10"></a-entity>
          <a-entity mixin="wall-S {{ theme }}" position="28 0 14"></a-entity>

            <a-entity mixin="door-frame-4-W {{ theme }}" position="24 0 18"></a-entity>

            <a-entity position="24 0 18">
              <a-entity mixin="door-left-EW {{ theme }}" position="0.5 0 0"></a-entity>
              <a-entity mixin="door-right-EW {{ theme }}" position="3.5 0 0"></a-entity>
            </a-entity>

          <a-entity mixin="wall-N {{ theme }}" position="24 0 6"></a-entity>
          <a-entity mixin="wall-N {{ theme }}" position="24 0 10"></a-entity>
          <a-entity mixin="wall-N {{ theme }}" position="24 0 14"></a-entity>

          <a-entity mixin="door-frame-4-N {{ theme }}" position="12 0 2"></a-entity>

          <a-entity mixin="wall-W {{ theme }}" position="12 0 6"></a-entity>
          <a-entity mixin="wall-u-W {{ theme }}" position="16 0 6"></a-entity>
          <a-entity mixin="wall-W {{ theme }}" position="20 0 6"></a-entity>

          <!-- floor -->
          <a-entity mixin="floor {{ theme }}" position="12 0 2"></a-entity>
          <a-entity mixin="floor {{ theme }}" position="16 0 2"></a-entity>
          <a-entity mixin="floor {{ theme }}" position="20 0 2"></a-entity>
          <a-entity mixin="floor {{ theme }}" position="24 0 2"></a-entity>
          <a-entity mixin="floor {{ theme }}" position="24 0 6"></a-entity>
          <a-entity mixin="floor {{ theme }}" position="24 0 10"></a-entity>
          <a-entity mixin="floor {{ theme }}" position="24 0 14"></a-entity>

          <!-- ceiling -->
          <a-entity mixin="ceiling {{ theme }}" position="12 0 2"></a-entity>
          <a-entity mixin="ceiling {{ theme }}" position="16 0 2"></a-entity>
          <a-entity mixin="ceiling {{ theme }}" position="20 0 2"></a-entity>
          <a-entity mixin="ceiling {{ theme }}" position="24 0 2"></a-entity>
          <a-entity mixin="ceiling {{ theme }}" position="24 0 6"></a-entity>
          <a-entity mixin="ceiling {{ theme }}" position="24 0 10"></a-entity>
          <a-entity mixin="ceiling {{ theme }}" position="24 0 14"></a-entity>

        </a-entity>
</script>
