<script id="room2-partial" type="x-partial">

	<a-entity data-name="north-wall" position="0 0 0" rotation="0 0 0">
		<a-entity mixin="wall-lg {{ theme }}" position="0 0 0" rotation="0 0 0"></a-entity>

		<a-entity mixin="wall-lg {{ theme }}" position="0 0 -16" rotation="0 0 0"></a-entity>

		<a-entity mixin="wall-lg {{ theme }}" position="8 0 -16" rotation="0 180 0"></a-entity>

		<a-entity mixin="wall-lg {{ theme }}" position="8 0 -32" rotation="0 180 0"></a-entity>


		<a-entity mixin="wall-md {{ theme }}" position="8 0 -32" rotation="0 270 0"></a-entity>

	</a-entity>



</script>