/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/323d42");
@font-face {
    font-family: 'Smashing';
    src: url('/assets/webfonts/323D42_0_0.eot');
    src: url('/assets/webfonts/323D42_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/323D42_0_0.woff2') format('woff2'),url('/assets/webfonts/323D42_0_0.woff') format('woff'),url('/assets/webfonts/323D42_0_0.ttf') format('truetype');
}
$green: #00ff6f;
html {
    position: relative!important;
    background-image: url("/img/background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}
body {
    background: transparent;
    color: #bdbdbd;
    height: 100%;
    overflow: scroll!important;
    font-size:18px;
}
/*put the aframe styles back into effect*/
html.aframe {
    position: fixed!important;
    background: #000;
    body {
        height: 100%!important;
        overflow: hidden!important;
        font-family: 'open sans', sans-serif;
    }
}
/* Splash screen/home page */
.homepage-img {
    display: block;
    margin: 10px auto;
    max-width: 80%;
}
.data-debug {
    display: none;
}
/*buttons */
.button,
.button:hover,
button,
button:hover {
    font-family: 'Smashing', cursive;
    background: $green;
    color: black;
    font-size: 2em;
    border-color: $green;
    display: inline-block;
    margin: 30px auto;
    border-radius: 0;

    padding: 0 20px;
    border:0;
}
.info {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}
/* realise block */
.realise {
    border: $green 1px solid;
    color: $green;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 30px;
    .fb,
    .twitter,
    .vol {
        border: 0;
        display: block;
        float: left;
        width: 124px;
        height: 24px;
        margin-right: 5px;
        overflow: hidden;
        background: $green;
        color: black;
    }
    .fb {
        //  background: url('/assets/UI/icons-info/facebook.svg');
        &:hover {
            //    background:  url('/assets/UI/icons-info/facebook.svg');
            background: yellow;
        }
    }
    .twitter {
        //  background: url('/assets/UI/icons-info/twitter.svg');
        &:hover {
            //    background: url('/assets/UI/icons-info/twitter.svg');
            background: yellow;
        }
    }
    .vol {
        //   background:  url('/assets/UI/icons-info/sound-on.svg');
        &.active {
            background: url('/assets/UI/icons-info/sound-off.svg');
            background: yellow;
        }
    }
}
/*Train builder form */
form {
    position: relative;
    text-align: center;
    .background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: none;
        opacity: 0.5;
        z-index: 1;
    }
    .inner {
        position: relative;
        z-index: 100;
    }
    fieldset {
      border:none;
    }
    legend {
        font-family: 'Smashing', cursive;
        color: #00ff6f;
        font-size: 2em;
    }

    label {
        display: block;
        color: #00ff6f;
        background-size: cover;
        height: 100px;
        width: 100px;
        margin: 0 5px 10px;
        float: left;
        &.active {
            height: 150px;
            width: 150px;
        }
        span {
            display:none;
            font-size: 10px;
            line-height: 12px;
            color: red;
        }
        input[type="radio"] {
            display: none;
        }
    }
}

/*Progress Bar*/
.progress-bar {
    text-align: center;
}
.progress-bar ul {
    list-style-type: none;
    border-top: #00ff6f 2px solid;
    display: inline-block;
    margin: 30px auto 0;
    li {
        display: block;
        float: left;
        background: #ccc;
        border: #00ff6f 2px solid;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        overflow: hdden;
        margin-top: -12px;
        margin-right: 20px;
        margin-bottom: 30px;
        position: relative;
        span {
            position: absolute;
            width: 70px;
            left: -20px;
            bottom: -30px;
            text-align: center;
            display: none;
        }
        &.active {
            background: #00ff6f;
            border: #00ff6f 2px solid;
            span {
                display: block;
            }
            &:before {
                content: "";
                background: #ccc;
                position: absolute;
                width: 20px;
                height: 20px;
                top: -35px;
                left: 50%;
                margin-left: -10px;
            }
        }
        &.activated {
            background: #00ff6f;
            border: #00ff6f 2px solid;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}
label[for="musicnone"] {
    background-image: url("/assets/UI/music/nosound.png");
}
label[for="musiccreepymusicbox"] {
    background-image: url("/assets/UI/music/musicbox.png");
}
label[for="musicmountainking"] {
    background-image: url("/assets/UI/music/hallofthe.png");
}
label[for="musicdansemacabre"] {
    background-image: url("/assets/UI/music/danse-macabre.png");
}
label[for="musicchoirofdoom"] {
    background-image: url("/assets/UI/music/choir-of-doom.png");
}
label[for="musicabandonedcemetery"] {
    background-image: url("/assets/UI/music/cemetery.png");
}
label[for="themecastle"] {
    background-image: url("/assets/UI/location/castle.png");
}
label[for="themehotel"] {
    background-image: url("/assets/UI/location/hotel.png");
}
label[for="themegraveyard"] {
    background-image: url("/assets/UI/location/graveyard.png");
}
label[for="themeasylum"] {
    background-image: url("/assets/UI/location/asylum.png");
}
label[for="themehauntedhouse"] {
    background-image: url("/assets/UI/location/hhouse.png");
}
label[for="normal"] {
    background-image: url("/assets/UI/light/normal.png");
}
label[for="neon"] {
    background-image: url("/assets/UI/light/red.png");
}
label[for="candlelight"] {
    background-image: url("/assets/UI/light/candelight.png");
}
label[for="moonlight"] {
    background-image: url("/assets/UI/light/moonlight.png");
}
label[for="nuclear"] {
    background-image: url("/assets/UI/light/nuclear.png");
}
label[for="basement"] {
    background-image: url("/assets/UI/light/basement.png");
}
label[for="crypt"] {
    background-image: url("/assets/UI/light/crypt.png");
}
label[for^="zombie_"] {
    background-image: url("/assets/UI/monster/zombie.png");
}
label[for^="ghost"] {
    background-image: url("/assets/UI/monster/ghost.png");
}
label[for^="vampire"] {
    background-image: url("/assets/UI/monster/vampire.png");
}
label[for^="pyro"] {
    background: orange;
    border-radius: 50%;
}
label[for^="ballerina"] {
    background: pink;
    border-radius: 50%;
}
