<!doctype html>
<html class="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Ghost Train Builder</title>

		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="/img/favicon/favicon-196x196.png" sizes="196x196" />
		<link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="/img/favicon/favicon-128.png" sizes="128x128" />
		<meta name="theme-color" content="#000000" />
		<meta name="application-name" content="Ghost Train Builder"/>
		<meta name="msapplication-TileColor" content="#000000" />
		<meta name="msapplication-TileImage" content="mstile-144x144.png" />
		<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
		<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
		<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
		<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

		<meta name="description" content="Build, ride and share your own virtual reality ghost train!">

		<meta property="og:url" content="http://www.ghosttrainbuilder.com" />
		<meta property="og:type"  content="article" />
		<meta property="og:title"  content="Realise Ghost Train" />
		<meta property="og:description" content="I just built a virtual reality Ghost Train! Can you build a spookier ride?" />
		<meta property="og:image" content="http://www.ghosttrainbuilder.com/img/realise-ghost-train.jpg" />

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
		<!-- build:css:build ./styles/main.min.css -->
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/ui.css">
		<!-- /build -->
	</head>

	<body>


		<div id="app">

			<div v-if="section == 'disclaimer'">
				<div class="container disclaimer">
			      <div class="row">
			        <div class="col-md-8 col-md-offset-2">
			          <h2>Beware!</h2>
			          <p class="info">This experimental project is best brought to life on the Chrome browser and modern hardware.</p>
			          <p class="info">he experience contains flashing lights and moving images which may potentially trigger seizures for those with photosensitive epilepsy.</p>
			          <p class="text-center info">
						<a class="button" v-on:click="goto('start')">I understand</a>
			          </p>
			        </div>
			      </div>
  		    </div>
			</div>

			<div v-if="section == 'start'" v-bind:user="user">
				<!-- build:include includes/splash_screen.html  -->Splash Screen<!-- /build -->
			</div>

			<div v-if="section == 'form'">
				<!-- build:include includes/header.html -->Header will go here<!-- /build -->
				<gt-form v-bind:app="app"  v-bind:user="user" v-bind:system="system" v-bind:configurable="configurable"></gt-form>
			</div>

			<div v-if="section == 'ride'">
				<gt-ride v-bind:user="user" v-bind:system="system" v-bind:configurable="configurable"></gt-ride>
			</div>

			<div v-if="section == 'end'">
				<!-- build:include includes/end_screen.html  -->End Screen<!-- /build -->
			</div>

		</div>

		<!-- build:include includes/creation_form.html  --><!-- /build -->

		<!-- build:include includes/ride/components/ride.html --><!-- /build -->
		<!-- build:include includes/ride/components/room.html --><!-- /build -->
		<!-- build:include includes/ride/components/light.html --><!-- /build -->
		<!-- build:include includes/ride/components/lightmob.html --><!-- /build -->
		<!-- build:include includes/ride/components/scare.html --><!-- /build -->
		<!-- build:include includes/ride/components/door.html --><!-- /build -->
		<!-- build:include includes/ride/components/animation.html --><!-- /build -->

		<!-- build:include includes/ride/partials/room0.html --><!-- /build -->
		<!-- build:include includes/ride/partials/room1.html --><!-- /build -->
		<!-- build:include includes/ride/partials/room2.html --><!-- /build -->
		<!-- build:include includes/ride/partials/room3.html --><!-- /build -->
		<!-- build:include includes/ride/partials/room4.html --><!-- /build -->
		<!-- build:include includes/ride/partials/room5.html --><!-- /build -->

		<!-- build:include includes/footer.html -->Footer will go here<!-- /build -->

		<!-- build:include includes/scripts.html -->Scripts will go here<!-- /build -->
	</body>
</html>
