<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title></title>

		<meta name="description" content="">

		<link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">

		<!-- build:css:build ./styles/main.min.css -->
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/ui.css">
		<!-- /build -->
	</head>

	<body>

		<div id="app">

			<div v-if="section == 'start'" v-bind:user="user">
				<!-- build:include includes/splash_screen.html  -->Splash Screen<!-- /build -->
			</div>

			<div v-if="section == 'form'">
				<!-- build:include includes/header.html -->Header will go here<!-- /build -->
				<gt-form v-bind:app="app"  v-bind:user="user" v-bind:system="system" v-bind:configurable="configurable"></gt-form>
			</div>

			<div v-if="section == 'ride'">
				<gt-ride v-bind:user="user" v-bind:system="system" v-bind:configurable="configurable"></gt-ride>
			</div>
			<div v-if="section == 'end'">
				<h1>The End</h1>
			</div>

			<!-- build:include includes/creation_form.html  -->Form will go here<!-- /build -->

			<!-- build:include includes/ride/components/ride.html --><!-- /build -->
			<!-- build:include includes/ride/components/room.html --><!-- /build -->
			<!-- build:include includes/ride/components/light.html --><!-- /build -->
			<!-- build:include includes/ride/components/scare.html --><!-- /build -->
			<!-- build:include includes/ride/components/door.html --><!-- /build -->
			<!-- build:include includes/ride/components/animation.html --><!-- /build -->

			<!-- build:include includes/ride/partials/room0.html --><!-- /build -->
			<!-- build:include includes/ride/partials/room1.html --><!-- /build -->
			<!-- build:include includes/ride/partials/room2.html --><!-- /build -->
			<!-- build:include includes/ride/partials/room3.html --><!-- /build -->
			<!-- build:include includes/ride/partials/room4.html --><!-- /build -->
			<!-- build:include includes/ride/partials/room5.html --><!-- /build -->

			<!-- build:include includes/end_screen.html -->End screen go here<!-- /build -->
		</div>

		<!-- build:include includes/footer.html -->Footer will go here<!-- /build -->

		<!-- build:include includes/scripts.html -->Scripts will go here<!-- /build -->
	</body>
</html>
