<script id="light_template" type="x-template">
<a-entity v-if="style === 'moonlight' || style === 'crypt'">
	<a-light type="point" intensity="1" distance="25" decay="2" position="{{ $root.system.rooms[roomnum].lights[0].position }}" color="{{ light1 }}"></a-light>
	<a-light type="point" intensity="1" distance="25" decay="2" position="{{ $root.system.rooms[roomnum].lights[1].position }}" color="{{ light2 }}"></a-light>
	<a-light type="point" intensity="1" distance="25" decay="2" position="{{ $root.system.rooms[roomnum].lights[2].position }}" color="{{ light3 }}"></a-light>
</a-entity>
<a-entity v-else>
	<a-light type="point" intensity="3" distance="25" decay="2" position="{{ $root.system.rooms[roomnum].lights[0].position }}" color="{{ light1 }}">
		<a-animation v-if="style === 'neon'" attribute="intensity" dur="100" fill="forwards" from="1" to="0" direction="alternate" repeat="indefinite"></a-animation>

		<a-animation v-if="style === 'lightning'" attribute="intensity" dur="5" fill="forwards" from="0.1" to="5" delay="2500" direction="alternate" repeat="indefinite"></a-animation>

		<a-animation v-if="style === 'police'" attribute="intensity" dur="500" fill="forwards" from="1" to="0" direction="alternate" repeat="indefinite"></a-animation>

		<a-animation v-if="style === 'redalert'" attribute="intensity" dur="500" fill="forwards" from="1" to="0.2" direction="alternate" repeat="indefinite"></a-animation>

		<a-animation v-if="style === 'candlelight'" attribute="intensity" dur="50" fill="forwards" from="1" to="0.9" direction="alternate" easing="ease" repeat="indefinite"></a-animation>

		<a-animation v-if="style === 'basement'" attribute="intensity" dur="1000" fill="forwards" from="1" to="0.2" direction="alternate" easing="ease" repeat="indefinite"></a-animation>
	</a-light>

	<a-light type="point" intensity="3" distance="25" decay="2" position="{{ $root.system.rooms[roomnum].lights[1].position }}" color="{{ light2 }}">
		<a-animation v-if="style === 'neon'" attribute="intensity" dur="100" fill="forwards" from="1" to="0" direction="alternate" repeat="indefinite"></a-animation>

		<a-animation v-if="style === 'lightning'" attribute="intensity" dur="5" fill="forwards" from="0.2" to="5" delay="2510" direction="alternate" repeat="indefinite"></a-animation>

		<a-animation v-if="style === 'police'" attribute="intensity" dur="500" fill="forwards" from="0" to="1" direction="alternate" repeat="indefinite"></a-animation>

		<a-animation v-if="style === 'redalert'" attribute="intensity" dur="500" fill="forwards" from="1" to="0.2" direction="alternate" repeat="indefinite"></a-animation>

		<a-animation v-if="style === 'candlelight'" attribute="intensity" dur="50" fill="forwards" from="1" to="0.9" direction="alternate" easing="ease" repeat="indefinite"></a-animation>

		<a-animation v-if="style === 'basement'" attribute="intensity" dur="1000" fill="forwards" from="1" to="0.2" direction="alternate" easing="ease" repeat="indefinite"></a-animation>
	</a-light>

	<a-light data-style="{{ style }}" type="point" intensity="3" distance="25" decay="2" position="{{ $root.system.rooms[roomnum].lights[2].position }}" color="{{ light3 }}">
		<a-animation v-if="style === 'lightning'" attribute="intensity" dur="5" fill="forwards" from="0.1" to="5" delay="2520" direction="alternate" repeat="indefinite"></a-animation>

		<a-animation v-if="style === 'police'" attribute="intensity" dur="500" fill="forwards" from="1" to="0" direction="alternate" repeat="indefinite"></a-animation>

		<a-animation v-if="style === 'redalert'" attribute="intensity" dur="500" fill="forwards" from="1" to="0.2" direction="alternate" repeat="indefinite"></a-animation>

		<a-animation v-if="style === 'candlelight'" attribute="intensity" dur="50" fill="forwards" from="1" to="0.9" direction="alternate" easing="ease" repeat="indefinite"></a-animation>

		<a-animation v-if="style === 'basement'" attribute="intensity" dur="1000" fill="forwards" from="1" to="0.2" direction="alternate" easing="ease" repeat="indefinite"></a-animation>
	</a-light>
</a-entity>
<!--
	<a-sphere radius="0.5" color="{{ light1 }}" position="{{ $root.system.rooms[roomnum].lights[0].position }}"></a-sphere>
	<a-sphere radius="0.5" color="{{ light2 }}" position="{{ $root.system.rooms[roomnum].lights[1].position }}"></a-sphere>
	<a-sphere radius="0.5" color="{{ light3 }}" position="{{ $root.system.rooms[roomnum].lights[2].position }}"></a-sphere>
-->
</script>
