<script id="ride_template" type="x-template">
	<a-scene>
		<a-assets>
			<img id="monsters_texture" src="/assets/monsters/monsters.jpg"></img>
			<a-asset-item v-for="monster in configurable.monsters" id="monster_{{ $key }}_model" src="{{ monster.model }}"></a-asset-item>
			<img v-for="monster in configurable.monsters" id="monster_{{ $key }}_texture" src="{{ monster.texture }}"></img>

			<img id="castle" src="/assets/textures/castle/walls.jpg"></img>
			<img id="forest" src="/assets/textures/forest/walls.jpg"></img>
			<img id="dark" src="/assets/textures/dark/walls.jpg"></img>
			<img id="generic-ceiling" src="/assets/textures/ceiling.jpg"></img>
			<img id="floor" src="/assets/textures/floor_18.png"></img>
			<img id="intro" src="/assets/textures/intro.jpg"></img>


			<a-mixin id="door-left-NS" obj-model="obj: url(/assets/model-buildkit/interactive/door-left-NS.obj); "></a-mixin>
			<a-mixin id="door-right-NS" obj-model="obj: url(/assets/model-buildkit/interactive/door-right-NS.obj); "></a-mixin>
			<a-mixin id="door-left-EW" obj-model="obj: url(/assets/model-buildkit/interactive/door-left-EW.obj); "></a-mixin>
			<a-mixin id="door-right-EW" obj-model="obj: url(/assets/model-buildkit/interactive/door-right-EW.obj); "></a-mixin>

			<a-mixin id="door-frame-4-N" obj-model="obj: url(/assets/model-buildkit/walls/door-frame_4x4_N.obj); "></a-mixin>
			<a-mixin id="door-frame-4-E" obj-model="obj: url(/assets/model-buildkit/walls/door-frame_4x4_E.obj); "></a-mixin>
			<a-mixin id="door-frame-4-S" obj-model="obj: url(/assets/model-buildkit/walls/door-frame_4x4_S.obj); "></a-mixin>
			<a-mixin id="door-frame-4-W" obj-model="obj: url(/assets/model-buildkit/walls/door-frame_4x4_W.obj); "></a-mixin>

			<a-mixin id="door-frame-8-N" obj-model="obj: url(/assets/model-buildkit/walls/door-frame_8x4_N.obj); "></a-mixin>
			<a-mixin id="door-frame-8-E" obj-model="obj: url(/assets/model-buildkit/walls/door-frame_8x4_E.obj); "></a-mixin>
			<a-mixin id="door-frame-8-S" obj-model="obj: url(/assets/model-buildkit/walls/door-frame_8x4_S.obj); "></a-mixin>
			<a-mixin id="door-frame-8-W" obj-model="obj: url(/assets/model-buildkit/walls/door-frame_8x4_W.obj); "></a-mixin>

			<a-mixin id="wall-N" obj-model="obj: url(/assets/model-buildkit/walls/wall_default_4x4_N.obj); "></a-mixin>
			<a-mixin id="wall-E" obj-model="obj: url(/assets/model-buildkit/walls/wall_default_4x4_E.obj); "></a-mixin>
			<a-mixin id="wall-S" obj-model="obj: url(/assets/model-buildkit/walls/wall_default_4x4_S.obj); "></a-mixin>
			<a-mixin id="wall-W" obj-model="obj: url(/assets/model-buildkit/walls/wall_default_4x4_W.obj); "></a-mixin>

			<a-mixin id="wall-divider-N" obj-model="obj: url(/assets/model-buildkit/walls/wall_divider_4x8_N.obj); "></a-mixin>
			<a-mixin id="wall-divider-S" obj-model="obj: url(/assets/model-buildkit/walls/wall_divider_4x8_S.obj); "></a-mixin>

			<a-mixin id="wall-detail-N" obj-model="obj: url(/assets/model-buildkit/walls/wall_detail_4x4_N.obj); "></a-mixin>
			<a-mixin id="wall-detail-E" obj-model="obj: url(/assets/model-buildkit/walls/wall_detail_4x4_E.obj); "></a-mixin>
			<a-mixin id="wall-detail-S" obj-model="obj: url(/assets/model-buildkit/walls/wall_detail_4x4_S.obj); "></a-mixin>
			<a-mixin id="wall-detail-W" obj-model="obj: url(/assets/model-buildkit/walls/wall_detail_4x4_W.obj); "></a-mixin>

			<a-mixin id="wall-u-N" obj-model="obj: url(/assets/model-buildkit/walls/wall_u_4x4_N.obj); "></a-mixin>
			<a-mixin id="wall-u-E" obj-model="obj: url(/assets/model-buildkit/walls/wall_u_4x4_E.obj); "></a-mixin>
			<a-mixin id="wall-u-S" obj-model="obj: url(/assets/model-buildkit/walls/wall_u_4x4_S.obj); "></a-mixin>
			<a-mixin id="wall-u-W" obj-model="obj: url(/assets/model-buildkit/walls/wall_u_4x4_W.obj); "></a-mixin>

			<a-mixin id="corner-inner-NW" obj-model="obj: url(/assets/model-buildkit/walls/corner_inner_4x4_NW.obj); "></a-mixin>
			<a-mixin id="corner-inner-NE" obj-model="obj: url(/assets/model-buildkit/walls/corner_inner_4x4_NE.obj); "></a-mixin>
			<a-mixin id="corner-inner-SW" obj-model="obj: url(/assets/model-buildkit/walls/corner_inner_4x4_SW.obj); "></a-mixin>
			<a-mixin id="corner-inner-SE" obj-model="obj: url(/assets/model-buildkit/walls/corner_inner_4x4_SE.obj); "></a-mixin>

			<a-mixin id="corner-outer-NW" obj-model="obj: url(/assets/model-buildkit/walls/corner_outer_4x4_NW.obj); "></a-mixin>
			<a-mixin id="corner-outer-NE" obj-model="obj: url(/assets/model-buildkit/walls/corner_outer_4x4_NE.obj); "></a-mixin>
			<a-mixin id="corner-outer-SW" obj-model="obj: url(/assets/model-buildkit/walls/corner_outer_4x4_SW.obj); "></a-mixin>
			<a-mixin id="corner-outer-SE" obj-model="obj: url(/assets/model-buildkit/walls/corner_outer_4x4_SE.obj); "></a-mixin>

			<a-mixin id="floor" obj-model="obj: url(/assets/model-buildkit/floors/floor-default-4x4.obj);"></a-mixin>
			<a-mixin id="ceiling" obj-model="obj: url(/assets/model-buildkit/floors/ceiling-default-4x4.obj);"></a-mixin>


			<a-mixin id="floor-set-room-0" obj-model="obj: url(/assets/model-buildkit/sets/floor-set-room-0.obj);"></a-mixin>
			<a-mixin id="floor-set-room-1" obj-model="obj: url(/assets/model-buildkit/sets/floor-set-room-1.obj);"></a-mixin>
			<a-mixin id="floor-set-room-2" obj-model="obj: url(/assets/model-buildkit/sets/floor-set-room-2.obj);"></a-mixin>
			<a-mixin id="floor-set-room-3" obj-model="obj: url(/assets/model-buildkit/sets/floor-set-room-3.obj);"></a-mixin>
			<a-mixin id="floor-set-room-4" obj-model="obj: url(/assets/model-buildkit/sets/floor-set-room-4.obj);"></a-mixin>

			<a-mixin id="ceiling-set-room-0" obj-model="obj: url(/assets/model-buildkit/sets/ceiling-set-room-0.obj);"></a-mixin>
			<a-mixin id="ceiling-set-room-1" obj-model="obj: url(/assets/model-buildkit/sets/ceiling-set-room-1.obj);"></a-mixin>
			<a-mixin id="ceiling-set-room-2" obj-model="obj: url(/assets/model-buildkit/sets/ceiling-set-room-2.obj);"></a-mixin>
			<a-mixin id="ceiling-set-room-3" obj-model="obj: url(/assets/model-buildkit/sets/ceiling-set-room-3.obj);"></a-mixin>
			<a-mixin id="ceiling-set-room-4" obj-model="obj: url(/assets/model-buildkit/sets/ceiling-set-room-4.obj);"></a-mixin>

			<!-- atlas -->
			<img v-for="theme in configurable.themes" id="{{ $key }}_atlas" src="{{ theme.texture }}"></img>

			<a-mixin id="castle" material="src:#castle_atlas; roughness:1;"></a-mixin>
			<a-mixin id="hotel" material="src:#hotel_atlas; roughness:1;"></a-mixin>
			<a-mixin id="graveyard" material="src:#graveyard_atlas; roughness:1;"></a-mixin>
			<a-mixin id="hauntedhouse" material="src:#hauntedhouse_atlas; roughness:1;"></a-mixin>
			<a-mixin id="asylum" material="src:#asylum_atlas; roughness:1;"></a-mixin>
			<a-mixin id="intro" material="src:#intro; roughness:1;"></a-mixin>


		</a-assets>


		<a-entity v:if="!loaded">
			<!-- build:include ../../loading.html -->Loading screen here
			<!-- /build -->
		</a-entity>

		<a-entity v:if="loaded">
			<a-entity id="rotation-helper" position="0 0 0" rotation="0 0 0">
				<!--	<a-box position="0 0 0" color="blue"></a-box> -->
			</a-entity>
			<!---->
			<!--  old kart position 16 4 15 -->
			<a-entity position="7 3.5 4" rotation="0 90 0" kart="{{ system.track.speed }}">
				<!--Need this space before the {{ for some reason -->
				<a-entity v-if="$root.system.track.kart && $root.system.highquality" obj-model="obj: url(/assets/model-buildkit/props/kart-low.obj); mtl: url(/assets/model-buildkit/props/kart-low.mtl)" position="0 -3.5 0" scale="1 1 1" rotation="0 0 0" roughness="1"></a-entity>
				<a-entity rotation="0 180 0">
					<a-camera collider position="0 -2 0.2" rotation="0 0 0.1" wasd-controls-enabled="false" near="0.1"></a-camera>


					<a-entity v-if="$root.system.sound.chain && $root.system.sound.mute === false" sound="src: assets/sounds/chain.mp3; autoplay: true; loop: true; volume: 0.3;"></a-entity>

					<a-entity v-if="$root.user.trainsettings.music !== 'none' && $root.system.sound.mute === false" sound="src: {{ $root.configurable.music[$root.user.trainsettings.music].mp3 }}; autoplay: true; loop: true; volume: 0.6;"></a-entity>
				</a-entity>
			</a-entity>
			<!--<a entity v-if="$root.system.sound.mute === false">

</a-entity>-->
			<!--<a-light type="ambient" color="#fff"></a-light> USE THIS FOR TESTING -->

			<!-- <a-camera collider  position="10 4 -18" rotation="0 0 0" wasd-controls-enabled="true"></a-camera>-->

			<a-entity v-for="point in system.track.points" track position="{{ point.position }}" v-bind:duration="point.duration ? point.duration : -1" v-bind:rotationDuration="point.rotationDuration ? point.rotationDuration : -1" v-bind:allowMovement="point.allowMovement ? point.allowMovement : true"
							order="{{ $index }}">
				<a-sphere v-if="system.track.showPoints" position="0 -3.75 0" radius="0.25" width="1" height="1" depth="1" color="#ffffff"></a-box>
			</a-entity>

			<!-- <a-sky color="{{ system.sky.colour }}"></a-sky> -->

			<gt-room v-for="room in system.rooms" v-bind:index="$index" v-bind:position="room.position" v-bind:theme="$root.user.rooms[$index].theme"></gt-room>

			<!-- <gt-door theme="intro" position="12 0 0" frame="S" door="NS" triggerable="true" size="8" current="room_0" next="room_1"></gt-door>

			<gt-door theme="{{ user.rooms[1].theme }}" position="24 0 18" frame="S" door="NS" triggerable="true" size="8" current="room_1" next="room_2"></gt-door>

			<gt-door theme="{{ user.rooms[2].theme }}" position="44 0 6" frame="S" door="NS" triggerable="true" size="8" current="room_2" next="room_3"></gt-door>

			<gt-door theme="{{ user.rooms[3].theme }}" position="48 0 30" frame="S" door="NS" triggerable="true" size="8" current="room_3" next="room_4"></gt-door> -->
		</a-entity>
	</a-scene>
</script>
