<script id="room_template" type="x-template">
	<a-entity id="room_{{ index }}" position="{{ position }}" rotation: "0 90 0">
		<partial v-bind:name="'room' + index + '-partial'"></partial>

		<gt-light v-for="light in $root.user.rooms[index].lights" v-bind:index="$index" v-bind:style="light.style" v-bind:color="$root.configurable.light.color[light.color].hex" v-bind:position="$root.system.rooms[index].lights[$index].position"></gt-light>

		<gt-scare v-for="scare in $root.user.rooms[index].scares" v-bind:index="$index" v-bind:monster="scare.monster" v-bind:sound="scare.sound" v-bind:animation="scare.animation" v-bind:position="$root.system.rooms[index].scares[$index].position" v-bind:rotation="$root.system.rooms[index].scares[$index].position"></gt-scare>
	</a-entity>
</script>