<script id="scare_template" type="x-template">
	<a-entity v-if="monster !== 'none'" id="monster_{{ animation }}" position="{{ position }}" rotation="{{ rotation }}">
		<a-obj-model rotation="0 0 0" scale="{{ $root.system.monster.scale }} {{ $root.system.monster.scale }} {{ $root.system.monster.scale }}" src="#monster_{{ monster }}_model" material="src: #monsters_texture; shader: standard;" collidable="{{ $root.system.monster.triggerDistance }}" visible="false" sound="src: {{ $root.configurable.sounds[sound].mp3 }}; on:hit;">
			<gt-animation v-bind:type="animation"></gt-animation>
		</a-obj-model>
	</a-entity>
</script>